[Desktop Entry]
Encoding=UTF-8
Categories=Application;Network;X-Red-Hat-Base;
Name=Uzbl
Comment=Browse the web
Exec=uzbl
Icon=/usr/lib/firefox/icons/mozicon50.xpm
StartupNotify=true
Terminal=false
Type=Application
