[Desktop Entry]
Encoding=UTF-8
Categories=Application;Network;X-Red-Hat-Base;
Name=Zirco
Comment=Browse the web
Exec=konix_zirco_open.sh %f
Icon=/usr/lib/firefox/icons/mozicon50.xpm
StartupNotify=true
Terminal=false
Type=Application
