[submodule "config/elfiles/org"]
	path = config/elfiles/org
	url = https://github.com/Konubinix/org-mode
	# url = git://repo.or.cz/org-mode.git
[submodule "config/elfiles/full-ack"]
	path = config/elfiles/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "lib/ftputil"]
	path = lib/ftputil
	url = https://github.com/mafalb/python-ftputil.git
[submodule "config/elfiles/w3m"]
	path = config/elfiles/w3m
	url = https://github.com/emacsmirror/w3m.git
[submodule "bash_optparse"]
	path = bash_optparse
	url = https://github.com/carlobaldassi/bash_optparse.git
[submodule "config/elfiles/cc-mode"]
	path = config/elfiles/cc-mode
	url = https://github.com/emacsmirror/cc-mode.git
[submodule "config/elfiles/rebox2"]
	path = config/elfiles/rebox2
	url = https://github.com/lewang/rebox2.git
[submodule "config/elfiles/readline-complete"]
	path = config/elfiles/readline-complete
	url = https://github.com/monsanto/readline-complete.el.git
[submodule "config/elfiles/elnode"]
	path = config/elfiles/elnode
	url = https://github.com/nicferrier/elnode.git
[submodule "config/elfiles/langtool"]
	path = config/elfiles/langtool
	url = https://github.com/mhayashi1120/Emacs-langtool.git
[submodule "config/elfiles/auto-complete"]
	path = config/elfiles/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "config/elfiles/popup"]
	path = config/elfiles/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "config/elfiles/elim"]
	path = config/elfiles/elim
	url = git://git.sv.gnu.org/elim.git
[submodule "config/elfiles/icicles"]
	path = config/elfiles/icicles
	url = https://github.com/emacsmirror/icicles.git
[submodule "config/elfiles/dbgr"]
	path = config/elfiles/dbgr
	url = https://github.com/rocky/emacs-dbgr.git
[submodule "config/elfiles/load-relative"]
	path = config/elfiles/load-relative
	url = https://github.com/rocky/emacs-load-relative
[submodule "config/elfiles/loc-changes"]
	path = config/elfiles/loc-changes
	url = https://github.com/rocky/emacs-loc-changes.git
[submodule "config/elfiles/popwin"]
	path = config/elfiles/popwin
	url = https://github.com/m2ym/popwin-el.git
[submodule "config/elfiles/miniedit"]
	path = config/elfiles/miniedit
	url = https://github.com/emacsmirror/miniedit.git
[submodule "config/elfiles/bash-completion"]
	path = config/elfiles/bash-completion
	url = https://github.com/szermatt/emacs-bash-completion.git
[submodule "config/elfiles/codesearch"]
	path = config/elfiles/codesearch
	url = https://github.com/abingham/codesearch.el.git
[submodule "config/elfiles/yasnippet"]
	path = config/elfiles/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "config/elfiles/bbdb"]
	path = config/elfiles/bbdb
	url = git://git.savannah.nongnu.org/bbdb.git
[submodule "config/elfiles/jinja2-mode"]
	path = config/elfiles/jinja2-mode
	url = https://github.com/paradoxxxzero/jinja2-mode.git
[submodule "config/elfiles/graphviz-dot-mode"]
	path = config/elfiles/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "seeks"]
	path = seeks
	url = git://seeks.git.sourceforge.net/gitroot/seeks/seeks
[submodule "sjoubert_dot_rc"]
	path = sjoubert_dot_rc
	url = https://github.com/sjoubert/dotrcfiles.git
[submodule "config/elfiles/ace-jump-mode"]
	path = config/elfiles/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "merge-ics"]
	path = merge-ics
	url = https://github.com/Konubinix/merge-ics.git
[submodule "config/elfiles/calfw"]
	path = config/elfiles/calfw
	url = https://github.com/kiwanami/emacs-calfw.git
[submodule "config/elfiles/highlight-indentation"]
	path = config/elfiles/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "git-fs"]
	path = git-fs
	url = https://github.com/g2p/git-fs.git
[submodule "hobeika_cfg"]
	path = hobeika_cfg
	url = https://github.com/hobeika/cfg
[submodule "smartcd"]
	path = smartcd
	url = https://github.com/cxreg/smartcd.git
[submodule "git-wip"]
	path = git-wip
	url = https://github.com/bartman/git-wip.git
[submodule "lazygal"]
	path = lazygal
	url = https://github.com/Konubinix/lazygal.git
[submodule "lib/log.sh"]
	path = lib/log.sh
	url = https://github.com/livibetter/log.sh.git
[submodule "config/elfiles/org-ehtml"]
	path = config/elfiles/org-ehtml
	url = https://github.com/eschulte/org-ehtml
[submodule "config/elfiles/znc"]
	path = config/elfiles/znc
	url = https://github.com/sshirokov/ZNC.el.git
[submodule "supervisord"]
	path = supervisord
	url = https://github.com/Supervisor/supervisor.git
[submodule "config/elfiles/circe"]
	path = config/elfiles/circe
	url = https://github.com/Konubinix/circe.git
[submodule "ledger-autosync"]
	path = ledger-autosync
	#url = https://gitlab.com/egh/ledger-autosync.git
	url = https://github.com/Konubinix/ledger-autosync
[submodule "config/elfiles/ini"]
	path = config/elfiles/ini
	url = https://github.com/daniel-ness/ini.el.git
[submodule "config/elfiles/ebib"]
	path = config/elfiles/ebib
	url = https://github.com/joostkremers/ebib.git
[submodule "config/elfiles/deferred"]
	path = config/elfiles/deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "config/elfiles/ctable"]
	path = config/elfiles/ctable
	url = https://github.com/kiwanami/emacs-ctable.git
[submodule "config/elfiles/epc"]
	path = config/elfiles/epc
	url = https://github.com/kiwanami/emacs-epc.git
[submodule "dmenu-frecency"]
	path = dmenu-frecency
	url = https://github.com/kspi/dmenu-frecency.git
[submodule "offlineimap"]
	path = offlineimap
	url = https://github.com/Konubinix/offlineimap.git
	# https://github.com/OfflineIMAP/offlineimap.git
[submodule "syncplay"]
	path = syncplay
	url = https://github.com/Uriziel/syncplay.git
[submodule "config/elfiles/text-translator"]
	path = config/elfiles/text-translator
	url = bzr::http://bazaar.launchpad.net/~khiker/+junk/text-translator
[submodule "gui2py"]
	path = gui2py
	url = https://github.com/reingart/gui2py.git
[submodule "PulseDroid"]
	path = PulseDroid
	url = https://github.com/Konubinix/PulseDroid.git

[submodule "xapers"]
	path = xapers
	url = https://github.com/Konubinix/xapers.git
[submodule "notmuch"]
	path = notmuch
	url = git://notmuchmail.org/git/notmuch
[submodule "lddtree"]
	path = lddtree
	#url = https://github.com/ncopa/lddtree.git
	url = https://github.com/Konubinix/lddtree
[submodule "config/elfiles/zenburn"]
	path = config/elfiles/zenburn
	url = https://github.com/bbatsov/zenburn-emacs
[submodule "python/pyftplib"]
	path = python/pyftplib
	url = https://github.com/giampaolo/pyftpdlib
[submodule "gorgeous"]
	path = gorgeous
	url = https://github.com/mislav/gorgeous
[submodule "pdbpp"]
	path = pdbpp
	url = hg::https://bitbucket.org/antocuni/pdb
[submodule "config/elfiles/rainbow-mode"]
	path = config/elfiles/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode
[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags/
[submodule "searx"]
	path = searx
	url = https://github.com/asciimoo/searx
[submodule "XKCD-password-generator"]
	path = XKCD-password-generator
	url = https://github.com/redacted/XKCD-password-generator
[submodule "config/elfiles/swiper"]
	path = config/elfiles/swiper
	url = https://github.com/abo-abo/swiper
[submodule "config/elfiles/skewer-mode"]
	path = config/elfiles/skewer-mode
	url = https://github.com/skeeto/skewer-mode
[submodule "pdf-tools"]
	path = pdf-tools
	url = https://github.com/politza/pdf-tools
[submodule "Pymacs"]
	path = Pymacs
	url = https://github.com/pinard/Pymacs
[submodule "whatsapp-purple"]
	path = whatsapp-purple
	url = https://github.com/davidgfnet/whatsapp-purple
[submodule "clang-ctags"]
	path = clang-ctags
	url = https://github.com/drothlis/clang-ctags
[submodule "config/elfiles/ycmd"]
	path = config/elfiles/ycmd
	url = https://github.com/abingham/emacs-ycmd
[submodule "config/elfiles/ac-irony"]
	path = config/elfiles/ac-irony
	url = https://github.com/Sarcasm/ac-irony
[submodule "config/elfiles/irony-mode"]
	path = config/elfiles/irony-mode
	url = https://github.com/Sarcasm/irony-mode
[submodule "alot"]
	path = alot
	url = https://github.com/pazz/alot/
[submodule "pymsmtpq"]
	path = pymsmtpq
	url = https://github.com/darkfeline/pymsmtpq
[submodule "beets"]
	path = beets
	url = https://github.com/beetbox/beets
[submodule "mopidy"]
	path = mopidy
	url = https://github.com/mopidy/mopidy
[submodule "mopidy-beets"]
	path = mopidy-beets
	url = https://github.com/mopidy/mopidy-beets
[submodule "0bin"]
	path = 0bin
	url = https://github.com/sametmax/0bin
[submodule "config/elfiles/highlight-symbol.el"]
	path = config/elfiles/highlight-symbol.el
	url = https://github.com/nschum/highlight-symbol.el
[submodule "encfs"]
	path = encfs
	url = https://github.com/Konubinix/encfs
[submodule "Flexget"]
	path = Flexget
	url = https://github.com/Flexget/Flexget.git
[submodule "git-remote-hg"]
	path = git-remote-hg
	url = https://github.com/fingolfin/git-remote-hg
[submodule "pyfilesystem"]
	path = pyfilesystem
	url = https://github.com/Konubinix/pyfilesystem.git
[submodule "znc"]
	path = znc
	url = https://github.com/Konubinix/znc
[submodule "Pipe"]
	path = Pipe
	url = https://github.com/Konubinix/Pipe
[submodule "autojump"]
	path = autojump
	url = https://github.com/wting/autojump
[submodule "config/elfiles/wgrep"]
	path = config/elfiles/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "qutebrowser"]
	path = qutebrowser
	url = https://github.com/Konubinix/qutebrowser
	#url = https://github.com/The-Compiler/qutebrowser
[submodule "git-annex-remote-rclone"]
	path = git-annex-remote-rclone
	url = https://github.com/DanielDent/git-annex-remote-rclone
[submodule "config/elfiles/elf-mode"]
	path = config/elfiles/elf-mode
	url = https://github.com/abo-abo/elf-mode
[submodule "config/bash-completion-virtualbox"]
	path = config/bash-completion-virtualbox
	url = https://github.com/tfmalt/bash-completion-virtualbox
[submodule "config/elfiles/fakir"]
	path = config/elfiles/fakir
	url = https://github.com/nicferrier/emacs-fakir
[submodule "config/elfiles/dash"]
	path = config/elfiles/dash
	url = https://github.com/nicferrier/dash.el
[submodule "config/elfiles/noflet"]
	path = config/elfiles/noflet
	url = https://github.com/nicferrier/emacs-noflet
[submodule "config/elfiles/kv"]
	path = config/elfiles/kv
	url = https://github.com/nicferrier/emacs-kv
[submodule "config/elfiles/s"]
	path = config/elfiles/s
	url = https://github.com/nicferrier/s.el
[submodule "config/elfiles/web"]
	path = config/elfiles/web
	url = https://github.com/nicferrier/emacs-web
[submodule "config/elfiles/db"]
	path = config/elfiles/db
	url = https://github.com/nicferrier/emacs-db
