[submodule "git-wip"]
	ignore=dirty
	path = git-wip
	url = https://github.com/bartman/git-wip.git
[submodule "config/awesome/awesome-cyclefocus"]
	path = config/awesome/awesome-cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule "python/dracula"]
	path = python/dracula
	url = https://github.com/dracula/qutebrowser-dracula-theme.git
