[submodule "config/elfiles/org"]
	path = config/elfiles/org
	url = http://orgmode.org/org-mode.git
[submodule "config/elfiles/full-ack"]
	path = config/elfiles/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "lib/ftputil"]
	path = lib/ftputil
	url = https://github.com/mafalb/python-ftputil.git
[submodule "config/elfiles/cedet"]
	path = config/elfiles/cedet
	url = https://github.com/emacs-pkg-mirrors/cedet.git
[submodule "config/elfiles/w3m"]
	path = config/elfiles/w3m
	url = https://github.com/id774-2/emacs-w3m.git
[submodule "notmuch"]
	path = notmuch
	url = git://notmuchmail.org/git/notmuch
[submodule "bash_optparse"]
	path = bash_optparse
	url = https://github.com/carlobaldassi/bash_optparse.git
[submodule "config/elfiles/cc-mode"]
	path = config/elfiles/cc-mode
	url = https://github.com/emacsmirror/cc-mode.git
