#[backend]
# default-keyring=keyring_impass.ImpassKeyring
#default-keyring=bws.BWSKeyring
#default-keyring=keyring_netrc.NetrcKeyring
# If keyring-path is indicated, keyring will add that path to the Python module search path before loading the backend.
#keyring-path=/home/kang/pyworkspace/python-keyring-lib/demo/
