/libreoffice
/menus
/pcmanfm
/vlc
/weboob
/evince
/Trolltech.conf
/Trolltech
/dconf
/deluge
/gtk-2.0
/homebank
/Mumble
/MusicBrainz
/Skype
/Synergy
/calibre
/chromium
/d-feet
/easytag
/enchant
/epdfview
/gmpc
/gtk-3.0
/ipython
/tomboy
/CoSMo
/libfm
/VirtualBox