/redo
/glib-2.0
/libreoffice
/menus
/pcmanfm
/vlc
/weboob
/evince
/Trolltech.conf
/Trolltech
/dconf
/deluge
/gtk-2.0
/homebank
/Mumble
/MusicBrainz
/Skype
/Synergy
/calibre
/chromium
/d-feet
/easytag
/enchant
/epdfview
/gmpc
/gtk-3.0
/ipython
/tomboy
/CoSMo
/libfm
/VirtualBox
/Nutonian
/QtProject.conf
/Recoll.org
/TulipSoftware
/ViTables
/biolab.si
/camlistore
/eog
/googlecl
/icedtea-web
/pavucontrol.ini
/qpdfview
/sqlitebrowser
/veusz.org
/cherrymusic
/Swift
/gajim
/google-googletalkplugin
/mopidy
/psi
/pulse
/qutebrowser/qsettings/
/uGet
/user-dirs.dirs
/user-dirs.locale
/xonsh
/fish
/blender
/clk
/Slack
/Electron
/ParaView
/catt
/byobu/.ssh-agent
/an2linux
/GIMP
/activitywatch
/byobu/usr
/configstore
/litecli
/VSCodium
/Ledger Live
/helm
/Postman
/borg
/LibreCAD
/OpenSCAD
/font-manager
/fontconfig
/inkscape
/Lens
/Microsoft
/google-chrome
/google-cloud-tools-java/
/dlv
/tool_state
/pharo
/mockoon
/TabNine
/httpie
/pdfarranger
/draw.io
/gh
/LanguageTool
/nl.tudelft.tribler.conf
/mps-youtube
/hardhat-nodejs
/pagraphcontrol
/.semgrep