############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
############################################################



###############################################################################
#
# name: bloe
# made: tenner
# date: 03-10-2007
# http://www.tenr.de
#
############################################################## BACKGROUND ######

background: 					flat
background.color: 				#B2B2BF
background.colorTo:				#B2B2BF

############################################################## FONTS ##########

menu.frame.font:						sans-7:bold
menu.title.font:						sans-7:bold
toolbar.clock.font:						sans-8:bold
toolbar.workspace.font:					tahoma-7:bold
toolbar.iconbar.focused.font:			sans-7:bold
toolbar.iconbar.unfocused.font:			sans-7
window.font:							sans-7

############################################################## MENU ###########

menu.bevelWidth:						1

#menu.itemHeight:						35
#menu.titleHeight:						21

menu.borderColor:						#000000
menu.borderWidth:						1

menu.bullet.position:						Right
menu.bullet:							triangle
menu.frame.underlineColor:					#6f6f6f

menu.submenu.pixmap:
menu.hilite.submenu.pixmap:

menu.selected.pixmap:
menu.hilite.selected.pixmap:

menu.unselected.pixmap:
menu.hilite.unselected.pixmap:

menu.title:							Raised Gradient Pyramid Bevel1
# menu.title.pixmap:						tbarfcs.xpm
menu.title.justify:						center
menu.title.color:						#ffffff
menu.title.colorTo:						#000000
menu.title.textColor:						#ffffff


menu.frame:							Raised Bevel1 Gradient Vertical
menu.frame.pixmap:
menu.frame.justify:						left
menu.frame.color:						#999999
menu.frame.colorTo:						#ffffff
menu.frame.textColor:						#000000
menu.frame.disableColor:					#666666

menu.hilite:							Sunken Bevel1 Gradient Vertical
menu.hilite.pixmap:
menu.hilite.color:						#666666
menu.hilite.colorTo:					      	#000000
menu.hilite.textColor:						#ffffff

############################################################## TOOLBAR ########

toolbar.bevelWidth:						0

toolbar.borderWidth:						1
toolbar.borderColor:						#000000

toolbar.height:							20

toolbar.justify:						center

toolbar:							Flat
#toolbar.pixmap:						tbarufcs.xpm
toolbar.color:							#000000
toolbar.colorTo:						#000000

toolbar.clock:							Raised Bevel1 Gradient Vertical
#toolbar.clock.pixmap:						tbarufcs.xpm
toolbar.clock.justify:						center
toolbar.clock.color:						#000000
toolbar.clock.colorTo:						#666666
toolbar.clock.textColor:					#ffffff

toolbar.workspace:						Raised Bevel1 Gradient Vertical
#toolbar.workspace.pixmap:					tbarufcs.xpm
toolbar.workspace.justify:					Center
toolbar.workspace.color:					#000000
toolbar.workspace.colorTo:				        #666666
toolbar.workspace.textColor:		 			#ffffff

toolbar.button:							Raised Bevel1 Gradient Vertical
#toolbar.button.pixmap:						tbarufcs.xpm
toolbar.button.color:						#000000
toolbar.button.colorTo:						#000000
toolbar.button.textColor:					#000000

toolbar.button.pressed:						Sunken Bevel1 Gradient Vertical
#toolbar.button.pressed.pixmap:					tbarufcs.xpm
toolbar.button.pressed.color:					#000000
toolbar.button.pressed.colorTo:					#000000
toolbar.button.pressed.picColor:				#000000

toolbar.iconbar.borderWidth:					1
toolbar.iconbar.borderColor:					#000000

toolbar.iconbar.empty:						Flat Bevel1 Gradient vertical
#toolbar.iconbar.empty.pixmap:					tbarufcs.xpm
toolbar.iconbar.empty.color:					#000000
toolbar.iconbar.empty.colorTo:					#666666

toolbar.iconbar.focused.borderWidth:				1
toolbar.iconbar.focused.borderColor:				#FFFFFF
toolbar.iconbar.focused:					Sunken Bevel1 Gradient Pyramid
#toolbar.iconbar.focused.pixmap:				tbarfcs.xpm
toolbar.iconbar.focused.color:					#ffffff
toolbar.iconbar.focused.colorTo:				#999999
toolbar.iconbar.focused.textColor:				#000000
toolbar.iconbar.focused.justify:				center

toolbar.iconbar.unfocused.borderWidth:				1
toolbar.iconbar.unfocused.borderColor:				#0000000
toolbar.iconbar.unfocused:	      				Raised Bevel1 Gradient Pyramid
#toolbar.iconbar.unfocused.pixmap:     				tbarufcs.xpm
toolbar.iconbar.unfocused.color:      				#000000
toolbar.iconbar.unfocused.colorTo:    				#555555
toolbar.iconbar.unfocused.textColor:  				#ffffff
toolbar.iconbar.unfocused.justify:    				center

############################################################## WINDOW #########

window.bevelWidth:						0
window.shade:							true
window.borderWidth:						1
window.borderColor:						#000000

window.justify:							Center

window.title.height:						18

window.title.focus:						Raised Bevel1 Gradient vertical
#window.title.focus.pixmap:					tbarufcs.xpm
window.title.focus.color:					#000000
window.title.focus.colorTo:					#FFFFFF

window.title.unfocus:						Raised Bevel1 Gradient vertical
#window.title.unfocus.pixmap:					tbarufcs.xpm
window.title.unfocus.color:					#FFFFFF
window.title.unfocus.colorTo:					#000000

window.label.focus:						Sunken Bevel1 Gradient Pyramid

#window.label.focus.pixmap:					windowlabelfcs.xpm
window.label.focus.color:					#555555
window.label.focus.colorTo:					#000000
window.label.focus.textColor:					#FFFFFF

window.label.unfocus:						Raised Bevel1 Gradient Vertical
#window.label.unfocus.pixmap:					windowlabelufcs.xpm
window.label.unfocus.color:					#FFFFFf
window.label.unfocus.colorTo:					#999999
window.label.unfocus.textColor:					#000000

window.button.focus:						Raised
window.button.focus.color:      				#
window.button.focus.colorTo:      				#
window.button.focus.picColor:					#
window.button.unfocus:						Raised
window.button.unfocus.Color:					#
window.button.unfocus.ColorTo:					#
window.button.unfocus.picColor:					#
window.button.pressed:						Raised
window.button.pressed.color:					#
window.button.pressed.colorTo:					#
window.button.pressed.picColor:					#

#window.shade.pixmap:							shadefcs.xpm
#window.shade.unfocus.pixmap:					shadeufcs.xpm
#window.shade.pressed.pixmap:					shadepr.xpm

#window.unshade.pixmap:							unshadefcs.xpm
#window.unshade.unfocus.pixmap:					unshadeufcs.xpm
#window.unshade.pressed.pixmap:					unshadepr.xpm

# window.menuicon.pixmap:							menuiconfcs.xpm
# window.menuicon.unfocus.pixmap:					menuiconufcs.xpm
# window.menuicon.pressed.pixmap:					menuiconpr.xpm

window.close.pixmap:							closefcs.xpm
window.close.unfocus.pixmap:					closeufcs.xpm
window.close.pressed.pixmap:					closepr.xpm

window.iconify.pixmap:							minfcs.xpm
window.iconify.unfocus.pixmap:					minufcs.xpm
window.iconify.pressed.pixmap:					minpr.xpm

window.maximize.pixmap:							maxfcs.xpm
window.maximize.unfocus.pixmap:					maxufcs.xpm
window.maximize.pressed.pixmap:					maxpr.xpm

window.stick.pixmap:							stickfcs.xpm
window.stick.unfocus.pixmap:					stickufcs.xpm
window.stick.pressed.pixmap:					stickpr.xpm

window.stuck.pixmap:							stuckfcs.xpm
window.stuck.unfocus.pixmap:					stuckufcs.xpm
window.stuck.pressed.pixmap:					stuckufcs.xpm

window.handle.focus:							flat
window.handle.focus.pixmap:						tbarufcs.xpm
window.handle.focus.color:						#
window.handle.focus.colorTo:					#
window.handle.unfocus:							flat
window.handle.unfocus.pixmap:					tbarufcs.xpm
window.handle.unfocus.color:					#
window.handle.unfocus.colorTo:					#
window.handleWidth:								3

window.grip.focus:						Raised Bevel1 Gradient Pyramid
window.grip.focus.pixmap:						tbarfcs.xpm
window.grip.focus.color:						#
window.grip.focus.colorTo:						#
window.grip.unfocus:							flat
window.grip.unfocus.pixmap:						tbarufcs.xpm
window.grip.unfocus.color:						#
window.grip.unfocus.colorTo:					#

###############################################################################
# SLIT
##################################################


slit:				ParentRelative#		Raised Bevel1 Gradient Vertical
slit.bevelWidth: 				10
slit.borderColor: 				#000000
slit.borderWidth:               		1
slit.color:                     		#000000
slit.colorTo:                   		#FFFFFF
#slit.pixmap:

##################################################
# BACKGROUND
##################################################

# background: centered|aspect|tiled|fullscreen|random|solid|gradient <texture>|mod|none
# background.pixmap: <file or directory>
# background.color: <color>
# background.colorTo: <color>
# background.modX: <integer>
# background.modY: <integer>
# background: centered|aspect|tiled|fullscreen|random|solid|gradient <texture>|mod|none

# background:					fullscreen
# background.pixmap:				~/.fluxbox/styles/perso/backgrounds/
# background.color:				#667788
